Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
.vs/
.idea/

**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/
**/MemoryCaptures/
**/.vs/
**/.idea/

*.csproj
*.sln
*.unitypackage
